{% extends 'base.html' %}
{% load static %}
{% block title %}
    Criar Cotação
{% endblock title %}
{% block content %}
    <div class="text-center">
        <div class="contact-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <br>
                            <h3>Criar Cotação</h3>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            {% include '_alertas.html' %}
                            <form action="{% url 'criar_orcamento' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <label for="complete_name">
                                            <b>Nome Completo</b>
                                        </label>
                                        
                                            {{form.item}}
                                        
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <label for="complete_name">
                                            <b>Nome Completo</b>
                                        </label>
                                        {{form.item}}
            
                                    </div>
                                    <p></p>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-success" type="submit">Criar Cotação</button>
                                        <a href="{% url 'criar_itens' %}">
                                            <button type="button" class="btn btn-success">Adicionar Item</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
