{% extends 'base.html' %}
{% load static %}
{% block title %}
    Criar Itens
{% endblock title %}
{% block content %}
    <div class="text-center">
        <div class="contact-area section-padding-0-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <br>
                            <h3>Criar Itens</h3>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            {% include '_alertas.html' %}
                            <form action="{% url 'criar_itens' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                        <div class="col-12 col-lg-12">
                                            <label for="{{ field.id_for_label }}">
                                                <b>{{ field.label }}</b>
                                            </label>
                                            <br>
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <p></p>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-success" type="submit">Criar Item</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
