{% extends 'base.html' %}
{% load static %}
{% block title %}
    Listar Itens
{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-center">
        <table style="color: white;border-spacing: 38px;border-collapse: separate">
            <thead>
                <tr>
                    <th class="letra">&nbsp&nbsp&nbsp&nbspNome</th>
                </tr>
            </thead>
            <tbody>
                {% for n in itens %}
                    <tr>
                        <td>
                            {{ n.item }}&nbsp&nbsp&nbsp&nbsp
                            <a href="{% url 'edita_item' n.id %}">
                                <button type="button" class="btn btn-success">Editar Itens</button>
                            </a>
                            <a href="{% url 'deleta_item' n.id %}">
                                <button type="button" class="btn btn-danger">Deletar Itens</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock content %}
