{% extends 'base.html' %}
{% load static %}
{% block title %}
    Usuario
{% endblock title %}
{% block content %}
    <div class="text-center">
        <br>
        <h3>Bem vindo</h3>
        <br>
        <br>
        <br>
        <a href="#">
            <button type="button" class="btn btn-light btn-rounded">Criar Cotações</button>
        </a>
        <p>
            <br>
        </p>
        <a href="#">
            <button type="button" class="btn btn-light btn-rounded">Listar Cotações</button>
        </a>
        <p>
            <br>
        </p>
        <a href="#">
            <button type="button" class="btn btn-light btn-rounded">Inserir Dados de Clientes</button>
        </a>
        <p>
            <br>
        </p>
        <a href="#">
            <button type="button" class="btn btn-light btn-rounded">Sair</button>
        </a>
    </div>
{% endblock content %}
