{% extends 'base.html' %}
{% load static %}
{% block title %}
    Usuario
{% endblock title %}
{% block content %}
    <div class="text-center">
        {% include '_alertas.html' %}
        <br>
        <h3>Bem vindo {{ user.username|title }}</h3>
        <br>
        <br>
        <br>
        <a href="{% url 'criar_orcamento' %}">
            <button type="button" class="btn btn-light btn-rounded">Criar Cotações</button>
        </a>
        <p>
            <br>
        </p>
        <a href="{% url 'lista_dados' %}">
            <button type="button" class="btn btn-light btn-rounded">Listar Cotações</button>
        </a>
        <p>
            <br>
        </p>
        <a href="{% url 'inserir_dados' %}">
            <button type="button" class="btn btn-light btn-rounded">Inserir Dados de Clientes</button>
        </a>
        <p>
            <br>
        </p>
        <a href="{% url 'listar_clientes' %}">
            <button type="button" class="btn btn-light btn-rounded">Listar Clientes</button>
        </a>
        <p>
            <br>
        </p>
        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-light btn-rounded">Sair</button>
        </a>
    </div>
{% endblock content %}
